header{
	background: $color1;
	padding: 100px 0;
	h1{
		color: $color4;
		font-family: $fuentes-titulos;
	}
	h2{
		color: $color2;
	}
	p{
		color: $color3;
		a{
			color: $color4;
			&:hover{
				color:cyan;
			}
		}
	}
}