@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');

$color1: hsla(186%, 78%, 13%, 1);
$color2: hsla(192%, 64%, 81%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(14%, 100%, 77%, 1);
$color5: hsla(0%, 0%, 94%, 1);

$fuentes-titulos: Montserrat;
$fuentes-textos: "Oswald";
